.Video-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #282828;
}

.Video-channel {
    font-size: 1.2rem;
    font-weight: 400;
    color: #282828;
}

.Video-date {
    font-size: 1.2rem;
    font-weight: 400;
    color: #282828;
}

.Video-cover {
    border-radius: 1rem;
}
