#container {
    background-image: url('../../assets/background.png');
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

#content-wrap {
    padding-bottom: 3rem; /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 3rem; /* Footer height */
}

footer{
    font-size: 1rem;
    color: #707070;
    font-weight: normal;
}
