#container {
    background-image: url('../../assets/background_0.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

#content-wrap {
    padding-bottom: 3rem; /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 3rem; /* Footer height */
}

.Home-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ff0000;
    margin: 0;
    padding: 0;
}

.Home-subtitle {
    font-size: 1.2rem;
    font-weight: 700;
    color: #282828;
    margin: 0;
    padding: 0;
}

footer{
    font-size: 1rem;
    color: #707070;
    font-weight: normal;
}
